.main {
  color: #fff;
  text-align: center;
}
.slider {
  max-width: 90%;
  height: 580px;
  margin: 30px auto;
}
.slider::before {
  content: "UPCOMING MOVIES...";
  padding: 20px 0;
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  font-weight: bolder;
  transform: translate(0%, -50%);
  height: 30px;
  background: rgb(81, 204, 163);
  background: radial-gradient(
    circle,
    rgba(81, 204, 163, 0.8687850140056023) 2%,
    rgba(235, 165, 15, 0.028448879551820738) 100%
  );
  z-index: 1000;
}
img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.item {
  height: 100%;
}
@media screen and (max-width: 980px) {
  .slider {
    height: 550px;
  }
}
@media screen and (max-width: 768px) {
  .slider {
    height: 450px;
  }
}
@media screen and (max-width: 580px) {
  .slider {
    height: 500px;
  }
  img {
    margin: 0 auto;
    width: 70%;
  }
}
@media screen and (max-width: 428px) {
  .slider {
    height: 430px;
  }
  img {
    margin: 0 auto;
    width: 80%;
  }
}
